body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", sans-serif;
    font-size: 15px;
    color: #4c4c4c;
}

.main-container {
    width: 1280px;
    margin: 0 auto;
    background-color: #f1c;
    box-shadow: 0 0 20px 0 #c7c6c6;
}

.main-header {
    background-color: #473932;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 38px 250px 180px;
    
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 150px;
}

.main-logo {
    text-decoration: none;
}

.logo-top {
    margin: 0;
    font-size: 22px;
    line-height: 22px;
    color: #f1cdb3;
    margin-bottom: 5px;
}

.logo-bottom {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
}

.main-menu-item a {
    text-decoration: none;
    font-size: 10px;
    line-height: 14px;
    color: #ffffff;
    margin-right: 20px;
}

.main-menu-item:last-child a {
    margin: 0;
}

.main-menu-item a:hover,
.main-menu-item a:focus,
.current {
    border-bottom: 2px solid #f1cdb3;
}

.main-menu-item a:active {
    opacity: 0.7;
}

.promo {
    width: 320px;

}

.promo h1 {
    margin: 0;
    font-size: 30px;
    color: #ffffff;
    line-height: 45px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-right: 50px;
}

.promo p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0;
    font-size: 10px;
    margin-bottom: 25px;
    line-height: 17px;
}

.promo a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    color: #3a3939;
    font-size: 12px;
    background-color: #fddcc4;
    padding: 10px 32px;
    border-radius: 30px;
}

.content-area {
    display: flex;
    flex-direction: column;    
}

.info {
    background-color: #ffffff;
    margin: 0;
    padding: 80px 366px 90px 640px;
}

.text-area {
    position: relative;
}

.text-area::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 308px;
    background-image: url(../img/Pets.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    top: -15px;
    left: -280px;
}

.text-area h2 {
    margin: 0;
    font-weight: normal;  
    line-height: 30px;
    padding-right: 60px;  
    margin-bottom: 15px;    
}

.text-area p {
    margin: 0;
    font-size: 10px;
    line-height: 15px;
}