body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", sans-serif;
    font-size: 15px;
    color: #4c4c4c;
}

.main-container {
    width: 1280px;
    margin: 0 auto;
    box-shadow: 0 0 20px 0 #c7c6c6;
}

.main-header {
    background-color: #473932;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 38px 250px 180px;
    
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 150px;
}

.main-logo {
    text-decoration: none;
}

.logo-top {
    margin: 0;
    font-size: 22px;
    line-height: 22px;
    color: #f1cdb3;
    margin-bottom: 5px;
}

.logo-bottom {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
}

.main-menu-item a {
    text-decoration: none;
    font-size: 10px;
    line-height: 14px;
    color: #ffffff;
    margin-right: 20px;
}

.main-menu-item:last-child a {
    margin: 0;
}

.main-menu-item a:hover,
.main-menu-item a:focus,
.current {
    border-bottom: 2px solid #f1cdb3;
}

.main-menu-item a:active {
    opacity: 0.7;
}

.promo {
    width: 320px;

}

.promo h1 {
    margin: 0;
    font-size: 30px;
    color: #ffffff;
    line-height: 45px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-right: 50px;
}

.promo p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0;
    font-size: 10px;
    margin-bottom: 25px;
    line-height: 17px;
}

.promo a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    color: #3a3939;
    font-size: 12px;
    background-color: #fddcc4;
    padding: 10px 32px;
    border-radius: 30px;
}

.content-area {
    display: flex;
    flex-direction: column;    
}

.info {
    background-color: #ffffff;
    margin: 0;
    padding: 80px 366px 90px 640px;
}

.text-area {
    position: relative;
}

.text-area::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 308px;
    background-image: url(../img/Pets.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    top: -15px;
    left: -280px;
}

.text-area h2 {
    margin: 0;
    font-weight: normal;  
    line-height: 30px;
    padding-right: 60px;  
    margin-bottom: 15px;    
}

.text-area p {
    margin: 0;
    font-size: 10px;
    line-height: 15px;
}

.pets {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.pets h2 {
    margin: 0;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.pet-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pet-list-item {
    padding: 5px 5px 20px 5px;
    border-radius: 5px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35px;
    box-shadow: 0 0 30px 0 #e4e2e2;
}

.pet-list-item:first-child {
    margin: 0;
}

.pet-list-item img {
    margin-bottom: 15px;
}

.pet-list-item p {
    margin: 0;  
    margin-bottom: 15px;
}

.info-button {
    border: none;
    background-color: transparent;
    font-family: "Georgia", sans-serif;
    color: #4c4c4c;
    font-size: 15px;
    border: 1px solid #f1cdb3;
    border-radius: 30px;
    padding: 8px 20px;
    cursor: pointer;
}

.info-button:hover,
.info-button:focus {
    background-color: #f1cdb3;
}

.info-button:active {
    opacity: 0.6;
    outline: none;
}

.switch {
    width: 35px;
    height: 35px;
    font-size: 0;
    border: 1px solid #f1cdb3;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.switch-back {
    margin-right: 50px;
    background-image: url(../img/long-left-arrow.png);
    background-repeat: no-repeat;
    background-position: 9px 13px;
}

.switch-forward {
    margin-left: 50px;
    background-image: url(../img/long-right-arrow.png);
    background-repeat: no-repeat;
    background-position: 9px 13px;
}

.switch:hover {
    background-color: #f1cdb3;
}

.switch:active {
    opacity: 0.6;
}

.button-more {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    background-color: #f1cdb3;
    color: #4c4c4c;
    border-radius: 30px;
    padding: 10px 20px;
}

.button-more:hover {
    background-color: #fddcc4;
}

.button-more:active {
    opacity: 0.6;
}

.help {
    background-color: #fafafa;
    padding: 50px 280px 20px;
}

.help h2 {
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0 250px;
    margin-bottom: 50px;
}

.help-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.help-list-item {
    width: 110px;
    padding: 60px 0 5px;
    margin-left: 20px;
    margin-bottom: 35px;
    position: relative;
}

.help-list-item:first-child {
    margin-left: 0;
}

.help-list-item p {
    margin: 0;
    text-align: center;
}

.help-list-item::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 50%;
    transform: translateX(-25px);
}

.food::before {
    background-image: url(../img/cat-food.svg);
    background-repeat: no-repeat;
}

.transportation::before {
    background-image: url(../img/ambulance.svg);
    background-repeat: no-repeat;
}

.toys::before {
    background-image: url(../img/ball.svg);
    background-repeat: no-repeat;
}

.cups::before {
    background-image: url(../img/bowl.svg);
    background-repeat: no-repeat;
}

.shampoos::before {
    background-image: url(../img/shampoo.svg);
    background-repeat: no-repeat;
}

.vitamins::before {
    background-image: url(../img/pills.svg);
    background-repeat: no-repeat;
}

.medicines::before {
    background-image: url(../img/syringe.svg);
    background-repeat: no-repeat;
} 

.collars::before {
    background-image: url(../img/leash.svg);
    background-repeat: no-repeat;
} 

.sleeping-area::before {
    background-image: url(../img/sleeping-area.svg);
    background-repeat: no-repeat;
}

.donation {
    background-color:#f6f6f6;
    padding-top: 40px;
    padding-bottom: 45px;
    background-image: url(../img/Dog.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: 250px 55px;
}

.donation-info {
    margin-left: 650px;
    margin-right: 400px;

}

.donation-info h2 {
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
}

.card-number {
    width: 150px;
    font-size: 12px;
    background-color: #fddcc4;
    padding: 10px 10px 10px 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.card-number::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 24px;
    left: 12px;
    top: 5px;
    background-image: url(../img/credit-card.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.donation-text {
    font-size: 10px;
}

.main-footer {
    background-color: #473932;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 40px;
    padding-left: 250px;
    padding-bottom: 55px;
}

.contacts-area{
   width: 200px;
}

.address-area {
    width: 200px;
    margin-left: 80px;
}

.main-footer h2 {
    margin: 0;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 30px;
}

.email,
.telephone,
.address {
    font-size: 12px;
    color: #f1cdb3;
    margin: 0;
    padding-left: 40px;
    position: relative;
}

.main-footer p::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 24px;
    left: 1px;
    top: 1px;
}

.email {
    margin-bottom: 35px;
}

.address-first {
    margin-bottom: 21px;
}

.email::before {
    background-image: url(../img/envelope.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.telephone::before {
    background-image: url(../img/telephone.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.address::before {
    background-image: url(../img/pin.svg);
    background-repeat: no-repeat;
    background-size: contain;
}





